/* Estilos para el contenedor principal */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Estilos para el contenedor del juego y la tabla de puntuación */
#container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

#game-container {
  min-width: 60%;
  min-height: 300px;
  background-color: lightgreen;
}

#scoretable {
  min-width: 15%;
  min-height: 300px;
  background-color: lightblue;
}

.key-guide {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambiado a 3 columnas */
  grid-template-rows: repeat(3, auto); /* Ajuste de filas automáticas */
  grid-gap: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Estilos para el título de la guía de teclas */
.titulo {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Estilos para el contenedor de cada tecla */
.tecla-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para las teclas individuales */
.tecla {
  width: 60px; /* Ancho de la tecla */
  height: 60px; /* Alto de la tecla */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px; /* Borde redondeado para simular una tecla */
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* Estilos para la leyenda de las teclas */
.tecla span {
  font-size: 0.8em;
  text-align: center;
}