/* Normalización CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

img {
  border: 0;
}

ul,
ol {
  list-style: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* [ Estilo de pagina ] */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
main{
  width: 100%;
}
#secondary-navbar {
  background-color: #f0f0f0;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.usuario {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.usuario:last-child {
  border-bottom: none;
}

.usuario span {
  display: block;
  margin-bottom: 3px;
}

.usuario span:first-child {
  font-weight: bold;
}

#main-enlist{
  background-color: darkblue;
}

#container-enlist {
  background-image: url(../models/gui/Frame.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 80vh;
  margin: 2% auto; /* Cambiado para centrar verticalmente y horizontalmente */
  padding: 22px; /* Añadido para espacio interior */
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  justify-content: center;
  align-items: center;
}

#enlist-tittle {
  height: 20%;
  color: #ccc;
  margin-bottom: 20px; /* Añadido espacio entre elementos */
  text-align: center; /* Centrar texto */
}

#enlist-text {
  height: 50%;
  color: #ccc;
  font-size: 1.2em;
  text-align: center; /* Centrar texto */
  margin-bottom: 20px; /* Añadido espacio entre elementos */
}

#enlist-now {
  height: 20%;
  background-image: url( ../models/gui/btn_frame.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; /* Centrar botón */
  width: 50%;
}