/* Normalización CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

img {
  border: 0;
}

ul,
ol {
  list-style: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Estilo de página */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

main {
  width: 100%;
}

#secondary-navbar {
  background-color: #f0f0f0;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.usuario {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.usuario:last-child {
  border-bottom: none;
}

.usuario span {
  display: block;
  margin-bottom: 3px;
}

.usuario span:first-child {
  font-weight: bold;
}

#main-enlist {
  background-color: darkblue;
}

#container-enlist {
  background-image: url(../models/gui/Frame.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 80vh;
  margin: 2% auto; /* Centrar vertical y horizontalmente */
  padding: 22px; /* Espacio interior */
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  justify-content: center;
  align-items: center;
}

#enlist-tittle,
#enlist-text {
  height: 20%;
  color: #ccc;
  margin-bottom: 20px; /* Espacio entre elementos */
  text-align: center; /* Centrar texto */
}

button,
.enlist-now {
  padding: 8px 15px; /* Padding del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Color del texto */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

button {
  background-color: #4CAF50; /* Color de fondo */
}

#enlist-now {
  background-image: url(../models/gui/btn_frame.png);
  background-size: cover; /* Ajustar imagen al tamaño del botón */
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 50%;
}

.enlist-now {
  display: inline-block; /* Hacer enlace un bloque en línea */
  padding: 10px 20px; /* Ajustar padding para texto */
  background-color: transparent; /* Fondo transparente para imagen */
  font-size: 1.2em; /* Tamaño de texto */
}

/* Estilos para las tarjetas de perfil de usuario */
.perfil-usuario {
  border: 1px solid #ddd; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  margin: 10px; /* Espacio entre tarjetas */
  width: calc(25% - 20px); /* Ancho del 25% con margen incluido */
  float: left; /* Alinear a la izquierda */
  box-sizing: border-box; /* Incluir borde y padding en ancho */
  height: 200px; /* Altura fija */
  overflow: hidden; /* Ocultar contenido si es más grande */
  background-color: #fff; /* Fondo blanco */
  margin-left: 1cm; /* Margen izquierdo */
  margin-right: 1cm; /* Margen derecho */
}

/* Estilos para el contenido dentro de las tarjetas */
.perfil-usuario h2 {
  font-size: 18px; /* Tamaño de fuente */
  margin: 10px; /* Espacio interno */
}

.perfil-usuario p {
  margin: 5px 10px; /* Espacio interno */
}

.fecha-creacion {
  font-style: italic; /* Texto en cursiva */
}

/* Estilos para el campo de búsqueda de usuario */
#userSearch {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ddd; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  margin-bottom: 20px; /* Espacio inferior */
  margin-top: 10px; /* Espacio superior */
  box-sizing: border-box; /* Incluir borde en ancho */
}

/* Estilos para el texto de marcador de posición */
#userSearch::placeholder {
  color: #999; /* Color del texto de marcador de posición */
}

/* Estilos cuando el campo de búsqueda está enfocado */
#userSearch:focus {
  border-color: #007bff; /* Cambio de color de borde */
  outline: none; /* Eliminar contorno */
}

/* Estilos para el main de comunidad*/
#main-community {
  margin-top: 100px; /* Margen superior */
  padding: 0 1cm; /* Espacio a los lados */
  overflow: auto; /* Permitir desplazamiento */

  /* Nueva regla para establecer una altura mínima */
  min-height: calc(100vh - 100px - 100px); /* 100vh - altura navbar - altura footer */
}

.img-profile {
  width: 100px; /* Ajustar el ancho según sea necesario */
  height: 100px; /* Ajustar la altura según sea necesario */
  border-radius: 50%; /* Hacer la imagen circular */
  object-fit: cover; /* Ajustar la imagen al tamaño del contenedor manteniendo la proporción */
  margin-right: 10px; /* Añadir margen derecho para separar la imagen del texto */
}