<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.80.1/phaser.js"></script>
</head>
</head>

<body>
    <nav class="navbar">
        <a href="../index.html" class="navbar-brand">NoCombatName</a>
        <ul class="navbar-nav" id="user-control-list">
            <li id="user-control"></li>
        </ul>
    </nav>
    <main>
        <input type="text" id="userSearch" placeholder="Buscar usuario...">
        <div id="SearchList">
            <!-- Aquí se mostrará el perfil del usuario seleccionado -->
        </div>

    </main>
    <footer class="footer">
        <div>
            <h1>Link Utiles</h1>
            <div>Foro</div>
            <div>Soporte</div>
            <div>Tienda</div>
            <div>Noticias</div>
        </div>
        <div> © 2024 Mandalestart.com - Todos los derechos reservados </div>
    </footer>
    <!-- Sweet Alert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/js/firebaseConfig.js" type="module"></script>

    <script src="../js/main.js"></script>
    <script src="/js/community.js" type="module"></script>
</body>

</html>