<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Inicio de Sesion - NoCombatName</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/reglog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <a href="../index.html" class="navbar-brand">NoCombatName</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/views/game.html" class="nav-link">Jugar</a></li>
            <li class="nav-item"><a href="/views/shop.html" class="nav-link">Tienda</a></li>
            <li class="nav-item"><div class="nav-link" id="user-control"></div></li>
            <li class="nav-item"> <select id="languaje">ESP</select></li>
            
        </ul>


    </nav>
    <main >
        <div>
            <h1>Registro</h1>
            username
            <textarea name="username-reg" id="username-reg" cols="15" rows="1"></textarea>
            mail
            <textarea name="mail-reg" id="mail-reg" cols="30" rows="1"></textarea>
            password
            <textarea name="password-reg" id="password-reg" cols="30" rows="1"></textarea>
            Confirm password
            <textarea name="confirm-password-reg" id="confirm-password-reg" cols="30" rows="1"></textarea>
        
            birthday
            <input type="date" name="" id="date-reg">
            game notify
            <input type="checkbox" name="notify-reg" id="notify-reg">
            game TYC
            <input type="checkbox" name="tyc-reg" id="tyc-reg">
            <button id="btn-send-reg">Registrar</button>
        </div>
        <div>
           <h1>Iniciar Sesion</h1> 
           Usuario
           <textarea name="" id="user-login" cols="30" rows="1"></textarea>
           password
           <textarea name="" id="password-login" cols="30" rows="1"></textarea>
           <button id="btn-send-login">Login</button>
        </div>
    </main>
    <footer class="footer">
        <div>
            <h1>Link Utiles</h1>
            <div>Foro</div>
            <div>Soporte</div>
            <div>Tienda</div>
            <div>Noticias</div>
        </div>
        <div> © 2024 Mandalestart.com - Todos los derechos reservados </div>
    </footer>
    <script src="../js/reglog.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>
