<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Inicio de Sesion</title>
    <link rel="stylesheet" href="../css/reglog.css">
</head>
<body>
    <nav></nav>
    <main>
        <div>
            <h1>Registro</h1>
            username
            <textarea name="username-reg" id="username-reg" cols="15" rows="1"></textarea>
            mail
            <textarea name="mail-reg" id="mail-reg" cols="30" rows="1"></textarea>
            password
            <textarea name="password-reg" id="password-reg" cols="30" rows="1"></textarea>
            Confirm password
            <textarea name="confirm-password-reg" id="confirm-password-reg" cols="30" rows="1"></textarea>
        
            birthday
            <input type="date" name="" id="date-reg">
            game notify
            <input type="checkbox" name="notify-reg" id="notify-reg">
            game TYC
            <input type="checkbox" name="tyc-reg" id="tyc-reg">
            <button id="btn-send-reg">Registrar</button>
        </div>
        <div>
           <h1>Iniciar Sesion</h1> 
           Usuario
           <textarea name="" id="user-login" cols="30" rows="1"></textarea>
           password
           <textarea name="" id="password-login" cols="30" rows="1"></textarea>
           <button id="btn-send-login">Login</button>
        </div>
    </main>
    <footer></footer>
    <script src="../js/reglog.js"></script>
</body>
</html>
