<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda | NoCombatName</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/shopitem.css">
</head>

<body>
    <nav class="navbar">
        <a href="../index.html" class="navbar-brand">NoCombatName</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/views/shop.html" class="nav-link">Tienda</a></li>
            <li class="nav-item"><a href="/views/reg-log.html" class="nav-link" id="user-control">Registro/Login</a>
            </li>
            <li class="nav-item"> <select id="languaje">ESP</select></li>
        </ul>


    </nav>
    <main>
        <h1>Tienda</h1>

        <div id="mejoras">
            <h2>Mejoras</h2>
            <div id="lista-mejoras">
                <!-- Aquí se cargarán las mejoras -->
            </div>
        </div>

        <div id="consumibles">
            <h2>Consumibles</h2>
            <div id="lista-consumibles">
                <!-- Aquí se cargarán los consumibles -->
            </div>
        </div>
    </main>
    <footer class="footer">
        <div>
            <h1>Link Utiles</h1>
            <div>Foro</div>
            <div>Soporte</div>
            <div>Tienda</div>
            <div>Noticias</div>
        </div>
        <div> © 2024 Mandalestart.com - Todos los derechos reservados </div>
    </footer>
    <script src="../js/shopitem.js"></script>
</body>

</html>