<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda | NoCombatName</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/shopitem.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <a href="../index.html" class="navbar-brand">NoCombatName</a>
        <ul class="navbar-nav" id="user-control-list">
        </ul>


    </nav>
    <div id="secondary-navbar"></div>
    <main>
        <h1>Tienda</h1>

        <div id="mejoras">
            <h2>Mejoras</h2>
            <div id="lista-mejoras">
                <!-- Aquí se cargarán las mejoras -->
            </div>
        </div>

        <div id="consumibles">
            <h2>Consumibles</h2>
            <div id="lista-consumibles">
                <!-- Aquí se cargarán los consumibles -->
            </div>
        </div>
    </main>
    <footer class="footer">
        <div>
            <h1>Link Utiles</h1>
            <div>Foro</div>
            <div>Soporte</div>
            <div>Tienda</div>
            <div>Noticias</div>
        </div>
        <div> © 2024 Mandalestart.com - Todos los derechos reservados </div>
    </footer>
    <script src="../js/shopitem.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>